@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-Cairo: "Cairo", serif;
  --background: #faf9f6;
  --text: #333333;
  --verse: #004225;
  --primary: #006400;
  --secondary: #d4af37;
  --hoverGreen: #009973;
  --cardBg: #efefef;
  --error: #e57373;
  --success: #4caf50;
}

body {
  font-family: var(--font-Cairo);
}
